@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f2ee;
}
.main{
    padding: 75px;
}
.left-panel{
    display: flex;
}
.left{
    width: 25%;
    padding-left: 30px;
}
.right{
    width: 80%;
}
.left ul{
    margin: 0px;
    padding-left: 30px;
}
.left div{
    margin-top: 20px;
}
.category{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    text-transform: uppercase;
}
.subCat a{
    text-decoration: none;
}
.subCat li{
    list-style: none;
    color: #b7b7b7;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.subCat li:hover{
    color: #5F7B94;
}
#right-panel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 35px;
}

#right-panel .card{
    height: 370px;
    width: 240px;
    background-color: white;
}
#right-panel .card:hover{
    box-shadow: 3px 3px 15px #a7b4c1;
}
.card{
    text-align: center;
}
.card .details{
    text-align: center;
    justify-content: center;
}
.card .details .brand{
    color: #b7b7b7;
    font-size: 12px;
}
.card .details .pname{
    font-size: 14px;
}

#pagination{
    text-align: center;
    margin-top: 18px;
}