@import url(style.css);
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: #f4f4f4;
}
.head{
    text-align: center;
    margin: 36px;
    font-size: 23px;
    font-weight: 500;
}
.field{
    width: 97%;
    height: 30px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid rgb(210, 209, 209);
}
.form{
    width: 32%;
    margin: auto;
    margin-bottom: 53px;
    background-color: white;
    padding: 33px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 25px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.radio-group label {
    margin-right: 15px;
    margin-bottom: 7px;
}
button {
    padding: 10px 20px;
    background-color: #94a9bc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #61788e;
}
.radio-group{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 5%;
    font-size: 14px;
}
.error {
    color: red;
    font-size: 0.9em;
}